<div class="weather-container">
  <h2>Wetter-App</h2>

  <div class="input-container">
    <input type="text" [(ngModel)]="city" placeholder="Stadt eingeben..." />
    <button (click)="fetchWeather()">Suchen</button>
  </div>

<!--   <div class="weather-result" *ngIf="weatherData()">
    <h3>🌍 {{ city }}</h3>
    <p>🌡️ Temperatur: {{ weatherData()?.temp }}°C</p>
    <p>💨 {{ weatherData()?.description }}</p>
-->
    <!-- Link zur Detailseite -->
     <!--
    <a [routerLink]="['/weather', city]" class="details-link">Mehr Details</a>
  </div> -->
</div>
